<div class="centrar-en-pantalla">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="/img/logo.png" class="img-fluid">
                <form id="miFormulario" action = '@Url.Action("Comenzar")' method = "GET">
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="dificultad" class="form-label">Dificultad</label>
                        <select class="form-select" id="dificultad" name="dificultad" required>
                            <option value="3">Fácil</option>
                            <option value="2">Media</option>
                            <option value="1">Difícil</option>
                            <option value="-1">Cualquiera</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoría</label>
                        <select class="form-select" id="categoria" name="categoria" required>
                            <option value="3">Arte</option>
                            <option value="5">Geografía</option>
                            <option value="4">Historia</option>
                            <option value="2">Deporte</option>
                            <option value="1">Ciencia</option>
                            <option value="-1">Cualquiera</option>
                        </select>
                    </div>
                    <div class="centrar-boton">
                        <button type="submit" class ="btn custom-btn" style="background-color: #906DF3; color: white;">Jugar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



