<form>
    <div class = "m-0 row justify-content-center align-items-center">
        <div class="mb-3 mt-3">
            <label for="username" class="form-label row justify-content-center">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Ingresar el nombre de usuario" name="username">
        </div>
        <div class="btn-container-dificultades">
            <button class="btn btn-dark">Cualquiera</button>
            <button class="btn btn-dark">Facil</button>
            <button class="btn btn-dark">Media</button>
            <button class="btn btn-dark">Dificil</button>
        </div>
    </div>
    
</form>


