<div class="container custom-container">
    <div class="text-center">
        <h2>¡Gracias por Jugar @ViewBag.user!</h2> 
        <h4>Puntaje Final: @ViewBag.puntaje</h4>     
        <img src="/img/logo.png" alt="Imagen" class="img-fluid mt-3 mb-3" style="max-width: 40%;">
    </div>
    <div class="text-center">
        <a href='@Url.Action("ConfigurarJuego","Home")' class="btn custom-btn">Volver a Jugar</a>
    </div>
</div>