@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="img/logo.png" alt="Imagen Centrada" class="img-fluid" style="margin-top:40px;">
                <div class="btn-container">
                    <a href='@Url.Action("ConfigurarJuego","Home")' class="btn custom-btn";">Configurar Juego</a>
                </div>
        </div>
    </div>
</div>

