html {
  font-size: 32px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #28BBA9;
  font-family: monospace;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.custom-btn{
  background-color: #906DF3;
  color: white;
}
.btn-container-dificultades{
  display: flex;
  flex-wrap: wrap !important;
  align-content: space-between;
}
.centrar-en-pantalla {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.centrar-boton {
  display: flex;
  justify-content: center;
}
.ampliar-boton {
  width: 100%;
}